.navbar {
  width: 100%;
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.875rem 10%;
  background: var(--white-100);
  box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
  transition: 0.2s;
  z-index: 1000;
}

.navbarLogo img {
  width: 2.5rem;
}

.navbarList {
  display: flex;
}

.navbarList a {
  font-size: 0.875rem;
  padding: 0.6875rem 1.25rem;
  color: var(--gray-800);
  transition: color 0.2s;
}

.navbarList a:hover {
  color: var(--gray-400);
}

#menuIcon {
  display: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: var(--gray-800);
  z-index: 1100;
}

@media (max-width: 991px) {
  .navbar {
    padding: 1.125rem 4%;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.6875rem 4%;
  }

  .navbarList {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: var(--white-100);
    box-shadow: 0 4px 4px rgb(14 55 54/ 14%);
    border-top: 2px solid var(--gray-800);
    transition: 0.2s;
  }

  .navbarList a {
    display: block;
    padding: 1.5rem;
  }

  .navbarList.active {
    top: 100%;
  }

  #menuIcon {
    display: initial;
  }
}
