:root {
  --white-100: #ffffff;
  --white-300: #f7f7f7;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4c6;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

*::selection {
  color: #a6a6a6;
  background: #dbdbdb;
}

body {
  background: var(--white-100);
  color: var(--gray-800);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

section {
  padding: 3.125rem 10%;
}

@media (max-width: 1150px) {
  section {
    padding: 3.125rem 7%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 3.125rem 4%;
  }
}
